.nav {
    margin: 0 auto;
    width: 1050px;
    height: 40px;
    padding-top: 30px;
    background-color: #fff;
    border-bottom: 20px solid #662D91;
}

.nav a, .nav span {
    font-size: 25px;
    text-decoration: none;
    color: #000;
    padding: 10px 30px;
    vertical-align: middle;
}

.nav img {
    width: 25px;
    vertical-align: middle;
}

.nav span {
    background-color: #662D91;
    color: #fff;
    padding-bottom: 20px;
}

.article {
    background-color: #fff;
    margin: 0 auto;
    width: 900px;
    padding: 20px;
}