@charset "utf-8";
/* CSS Document */
#main{
    margin: 0 auto;
    width: 1280px;
}
#title{
    margin-top: 0;
    width: 1280px;
    height: 149px;
    background-image:url(../image/title.jpg);
}
/*Researching part*/
#sr{
    float: right;
    margin: 60px 70px 0 0;
    background-color: #FFFFFF;
    border: 3px solid #999999;
    width: 400px;
    height: 40px;
}
#srt0{
    float: left;
}
#srt{
    border: 0;
    height: 38px;
    width: 320px;
    margin-top: 0;
    font-family: "微软雅黑",sans-serif;
    font-size: 20px;
    color: #999999;
    text-align: right;
}
#sri{
    float: right;
    height: 38px;
    width: 38px;
    margin-right: 5px;
    margin-top: 2px;
}
/*end of the part*/

#line{
    margin-top: 0;
    width: 1280px;
    height: 33px;
    background-color: #662D91;
}

/*the part of the tags*/
a.tag:visited{font-family: "微软雅黑",sans-serif;font-size: 30px;color:#000000; text-decoration:none;}
a.tag:hover{font-family: "微软雅黑",sans-serif;font-size: 30px;color:#000000; text-decoration:none;}
a.tag:link{font-family: "微软雅黑",sans-serif;font-size: 30px;color:#000000; text-decoration:none;}

#tag1{
    float: left;
    margin-top: 40px;
    margin-left: 90px;
    text-align: center;
    font-family: "微软雅黑",sans-serif;
    font-size: 30px;
}
#tag2{
    float: left;
    margin-top: 40px;
    margin-left: 420px;
    text-align: center;
    font-family: "微软雅黑",sans-serif;
    font-size: 30px;
}
#tag3{
    float: left;
    margin-top: 40px;
    margin-left: 90px;
    text-align: center;
    font-family: "微软雅黑",sans-serif;
    font-size: 30px;
}
/*end of the part*/


/*the part of the content*/
#content{
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    width: 1280px;
    height: 1716px;
}
/*the part of the screen and the light*/

#lighthead2{
    margin: 0 auto;
    width: 1045px;
    height: 34px;
    background-image: url(../image/lighthead2.png);
}
#lightfoot{
    margin: 0 auto;
    width: 1040px;
    height: 40px;
    background-image: url(../image/lightfoot.png);

}
#slidesmall{
    background-image: url(../image/slidesmall.png);
    float: left;
    width: 283px;
    height: 169px;
    margin-top: -155px;
    margin-left: 200px;
}
#slidesmalllight{
    background-image: url(../image/slidesmalllight.png);
    float: left;
    width: 283px;
    height: 169px;
}
#light1{
    float: left;
    margin-top: 10px;
    margin-left: 200px;
    height: 200px;
    width: 255px;
    background-image: url(../image/light.png);
}
#light2{
    float: right;
    margin-top: 10px;
    margin-right: 200px;
    height: 200px;
    width: 255px;
    background-image: url(../image/light.png);
}
#screen{
    margin: 0 auto;
    width: 940px;
    height: 405px;
    background-color: #000000;
}
#lightscreen{
    background-image: url(../image/screenlight.png);
    width: 940px;
    height: 300px;
    float: left;
    margin-top: -176px;
}

#maint{
    margin: 0 auto;
    width: 1145px;
    height: 975px;
}
#list{
    float: left;
    width: 885px;
    height: 975px;
    background-image: url(../image/list.png);
}
.leader{
    margin-left: 9px;
    margin-top: 60px;
}
.leaderleft{
    background-image: url(../image/leaderleft.png);
    width: 43px;
    height: 240px;
}
.leaderleft2{
    background-image: url(../image/leaderleft2.png);
    width: 33px;
    height: 213px;
    margin-top: -213px;
}
.leadermain{
    width: 832px;
    height: 213px;
    margin-top: -213px;
    background-color: white;
    -webkit-box-shadow:1px 1px 3px #292929;
    -moz-box-shadow:1px 1px 3px #292929;
    box-shadow:1px 1px 3px #292929;
}
.grey{
    float: left;
    margin-left: 15px;
    height: 213px;
    width: 19px;
    background-color: #999;
}
.art{
    float: left;
    margin-left: 70px;
    height: 211px;
    width: 400px;
    top: 50px;
}
.pic{
    float: left;
    height: 213px;
    width: 302px;
    overflow: hidden;
}
.tit{
    font-family: "微软雅黑",sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 5px;
    margin-left: 5px;
}
.artcontent{
    margin-top: 15px;
}

.lis{
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #999999;
}

.lisa{
    font-size: 14px;
}
.lisa:link{font-family: "微软雅黑",sans-serif;font-size: 14px;color: #000000; text-decoration: none;}
.lisa:visited{font-family: "微软雅黑",sans-serif;font-size: 14px;color: #000000; text-decoration: none;}
.lisa:hover{font-family: "微软雅黑",sans-serif;font-size: 14px;color: #000000; text-decoration: underline;}


#rlist{
    float: left;
    width: 260px;
    height: 975px;
    background-image: url(../image/rlist.png);
}
#copy{
    margin-left: 5px;
}
.stanford{
    width: 170px;
    height: 170px;
    font-family: "微软雅黑",sans-serif;
    font-size: 17px;
    color: #FFFFFF;
}

.awful{
    font-family: "微软雅黑",sans-serif;
    font-size: 12px !important;
}

a.list:link{
    font-family: "微软雅黑",sans-serif;
    font-size: 12px;
    color:#FFFFFF;
    text-decoration:none;
}
a.list:visited{
    font-family: "微软雅黑",sans-serif;
    font-size: 12px;
    color:#FFFFFF;
    text-decoration:none;
}

a.list:hover{
    font-family: "微软雅黑",sans-serif;
    font-size: 12px;
    color:#FFFFFF;
    text-decoration:none;
}



#foot1{
    margin: 0 auto;
    width: 1040px;
    height: 55px;
    background-image: url(../image/foot1.png);
}

#foot2{
    margin: 0 auto;
    width: 945px;
    height: 96px;
    background-color: #FFFFFF;
    text-align: center;
    font-family: "微软雅黑",sans-serif;
    font-size: 15px;
    color: #1A1A1A;
    line-height: 25px;
}

#foot{
    background-image: url(../image/foot.jpg);
    margin: 0;
    width: 1280px;
    height: 135px;
}

#more{
    margin-left: 504px;
    margin-top: 15px;
}